<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a COES</h1>
    <div id = "app">
        <p>{{saludar}}</p>
        <p>
            <label for="user">Usuario</label>
            <input type="text" name="user" id="user" v-model="user">
        </p>
        <p>
            <label for="contrasena">Password</label>
            <input type="text" name="contrasena" id="contrasena" v-model="contrasena">
        </p>
    </div>
    <script>
        new Vue ({
            el: '#app',
            data: {
                saludar: 'Ingrese sus datos'
            }
        });
    </script>
</body>
</html>